<div id="purpose">
  <div class="container">
    <div class="row mb50">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="feature-content">
          <div class="feature-icon">
            <%= image_tag("005-smartphone-3-gray.svg", class: "feature-icon") %>
          </div>
          <h2 class="feature-title">Managed Posts</h2>
          <div class="feature-desc">A managed post is the result of our creative team, who will edit and curate your gallery into one cohesive style. Your profile will have a strong point of view with a clean and cool aesthetic. Each month you will receive your posting shots in the tone of your branded identity.</div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="feature-content">
          <div class="feature-icon">
            <%= image_tag("006-story-gray.svg", class: "feature-icon") %>
          </div>
          <h2 class="feature-title">Managed Stories</h2>
          <div class="feature-desc">We create engaging stories for you. Based on the latest trends on Instagram and to be in the race with your direct competitors.</div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="feature-content">
          <div class="feature-icon">
            <%= image_tag("001-hashtag-gray.svg", class: "feature-icon") %>
          </div>
          <h2 class="feature-title">Providing Hashtags</h2>
          <div class="feature-desc">In order to fit the content we create, we provide a bunch of trending hashtags to generate traffic around your content. Using the right hashtags are really important to create the engagment you want.</div>
        </div>
      </div>
    </div>

    <div class="row pt25">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="feature-content">
          <div class="feature-icon">
            <%= image_tag("016-newsletter-gray.svg", class: "feature-icon") %>
          </div>
          <h2 class="feature-title">We post for you</h2>
          <div class="feature-desc">To help you saving more and more time you can chose to let us post for you at the right time based on your geographical location. We also analyse your analytics and manage to post at your peak time.</div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="feature-content">
          <div class="feature-icon">
            <%= image_tag("007-chat-gray.svg", class: "feature-icon") %>
          </div>
          <h2 class="feature-title">Caption Suggestion</h2>
          <div class="feature-desc">
            A good Instagram post needs a good description. Writing the good caption can lead to
            more traffic to your website. At Productile, we know the lastest instagram trends, we
            can help you on this.
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="feature-content">
          <div class="feature-icon">
            <%= image_tag("006-money-growth-gray.svg", class: "feature-icon") %>
          </div>
          <h2 class="feature-title">Instagram Growth</h2>
          <div class="feature-desc">We don't just create good content for your account, we can also managed to grow your account faster than ever. Only with organic and targeted followers, thats where we are good at. We can bring you up to <strong>+1.000</strong> new followers each month.</div>
        </div>
      </div>
    </div>
  </div>
</div>
