<%= render "shared/navbar" %>

<div class="banner-pages">
  <div class="banner-tagline">Our Work</div>
</div>

<div id="our-work">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/our-work/quotes" class="card-link">
          <div class="card-work">
            <%= image_tag("", class: "card-work-image") %>
            <div class="card-work-content">
              Personalized Quotes
            </div>
            <p class="card-work-desc">
              We created quotes for multiple clients in different domains
            </p>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/our-work/currated" class="card-link">
          <div class="card-work">
            <%= image_tag("", class: "card-work-image") %>
            <div class="card-work-content">
              Currated Content
            </div>
            <p class="card-work-desc">
              We created quotes for multiple clients in different domains
            </p>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/our-work/filter" class="card-link">
          <div class="card-work">
            <%= image_tag("", class: "card-work-image") %>
            <div class="card-work-content">
              Personalized Filter
            </div>
            <p class="card-work-desc">
              We created quotes for multiple clients in different domains
            </p>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/our-work/stories" class="card-link">
          <div class="card-work">
            <%= image_tag("", class: "card-work-image") %>
            <div class="card-work-content">
              Custom Stories
            </div>
            <p class="card-work-desc">
              We created quotes for multiple clients in different domains
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
