<%= render "shared/navbar" %>

<div class="banner-pages">
  <div class="banner-tagline">Our Work</div>
</div>

<div id="our-work">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <div class="card-work">
          <%= image_tag("", class: "card-work-image") %>
          <div class="card-work-content">
            Personalized Quotes
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <div class="card-work">
          <%= image_tag("", class: "card-work-image") %>
          <div class="card-work-content">
            Currated Content
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <div class="card-work">
          <%= image_tag("", class: "card-work-image") %>
          <div class="card-work-content">
            Grid Content
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <div class="card-work">
          <%= image_tag("", class: "card-work-image") %>
          <div class="card-work-content">
            Our Work
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
